APP_NAME="Telabang Mandau"
APP_ENV=local
APP_KEY=base64:7k+MhED8KzsxorrQ/aE+yQmo+oBKSnxRsCwwo037NYY=
APP_DEBUG=true
APP_URL=http://localhost
APP_INSTANSI="POLDA KALTIM"
APP_TIMEZONE="Asia/Makassar"
APP_MASYARAKAT_NAME="Pesut Mahakam"
APP_JENIS=polda
APP_POLDA="KALIMANTAN TIMUR"
APP_DEV=true

HP_INITIALIZATION="poldakaltim"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE="telabang_mandau"
DB_USERNAME=root
DB_PASSWORD=

DB_CONNECTION=mysql
DB_HOST_HT=127.0.0.1
DB_PORT_HT=3306
DB_DATABASE_HT=mumble-server
DB_USERNAME_HT=murmur
DB_PASSWORD_HT=

BROADCAST_DRIVER=redis
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_CLIENT=predis
REDIS_PREFIX=null

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD="Synergics 2019"
MAIL_ENCRYPTION=tls
MAIL_SENDER=elaminpoldakaltim@gmail.com

IMAP_HOST=
IMAP_PORT=
IMAP_ENCRYPTION=
IMAP_VALIDATE_CERT=
IMAP_USERNAME=
IMAP_PASSWORD=
IMAP_DEFAULT_ACCOUNT=
IMAP_PROTOCOL=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

USE_EMAIL=
EMAIL_URL=
EMAIL_AUTH=

FCM_SERVER_KEY=
FCM_SENDER_ID=

ONESIGNAL_REST_API_KEY=
ONESIGNAL_ID=
USE_ONESIGNAL=

SMS_TOKEN=
SMS_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLIENT_ID=2
CLIENT_SECRET=qQ2P6TfUt25ZNXa5ydpQ3pyvK0HuJlDRj148QIA0
API_URL=http://localhost

SOCKET_PREFIX=Mahakam
SOCKET_URL=http://localhost:6001

DEFAULT_LAT="-1.2302216"
DEFAULT_LNG="116.8857022"

VC_WSS_URL=wss://vc.e-lamin.id:8443/one2one
INDUK="POLDA KALTIM, POLRES JAJARAN"