$dark: #263040;
$shadowDark: rgba(38, 48, 64, 0.444);
$darkBlue: #2840b9;
$shadowDarkBlue: rgba(40, 64, 185, 0.444);
$lightBlue: #5F76F2;
$shadowLightBlue: rgb(95, 118, 242, 0.444);
$blue: #3D59ED;
$shadowBlue: rgba(61, 90, 237, 0.444);
$purple: #623BD7;
$shadowPurple: rgba(98, 59, 215, 0.444);
$ocean: #3A8FF1;
$shadowOcean: rgba(58, 143, 241, 0.444);
$aqua: #21c3ba;
$shadowAqua: rgba(33, 195, 187, 0.444);
$green: #2bbb07;
$shadowGreen: rgba(43, 187, 7, 0.444);
$orange:#FC8F40;
$shadowOrange:rgba(252, 142, 64, 0.444);
$red: #F03030;
$shadowRed: rgba(240, 48, 48, 0.444);
$default: #b2bdce;
$shadowDefault: rgba(178, 189, 206, 0.444);
$content: #CFD9E8;
$shadowContent: rgba(207, 217, 232, 0.444);
$white: #FFFFFF;
$shadowWhite: rgba(255, 255, 255, 0.444);
$transparentBackground: rgba(247, 250, 255, 0.22);
$shadowTransparentBackground: rgba(247, 250, 255, 0.11);
$tableHeader: #1B2536;
$tableBorder: #38475F;
$contentLight: #313436;
$modalBody: rgba(38, 48, 64, 0.83);
$fontHeader: 'Orbitron', sans-serif;
$fontBody: 'Electrolize', sans-serif;