//Form

.e-form, .e-form:hover, .e-form:focus, .e-form:active,
.mx-input, .mx-input:hover, .mx-input:focus, .mx-input:active {
    background: rgba(45, 52, 87, 0) !important;
    border: 0.08em solid #6F809B !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: $white !important;
    &:focus {
        border-color: $blue !important;
    }
    &.light {
        background: #242D3D;
    }
    .custom-file-label {
        background: transparent !important;
        border: transparent !important;
        border-radius: 0 !important;
        .form-file-text {
            color: $white;
        }
        &::after {
            border-radius: 0 !important;
            background: $blue !important;
            color: $white;
        }
    }
    
    &::-webkit-input-placeholder {
        color: #6F809B;
    }
    
    &::-moz-placeholder {
        color: #6F809B;
        opacity:  1;
    }
    
    &::-ms-input-placeholder {
        color:  #6F809B;
    }
    
    &::placeholder {
        color: #6F809B;
    }
}

.e-password {
    > div { position: relative }
    .phospor {
        position: absolute;
        top: 0.435em;
        right: 0.55em;
        font-size: 1.5em;
        user-select: none;
        display: none;
        &.active {
            display: block;
        }
    }
}

.light-theme {
    .e-form, .e-form:hover, .e-form:focus, .e-form:active,
    .mx-input, .mx-input:hover, .mx-input:focus, .mx-input:active {
        background: rgb(188 193 201) !important;
        border: 0.08em solid #abb2bd !important;
        color: #313436 !important;
        &:focus {
            border-color: $blue !important;
        }
    }
}