.phospor { 
    display: inline-block;
    font-size: 1.25em;
    margin-top: -3px;
    &.xs { font-size: 1em; }
    &.sm { font-size: 1.2em; }
    &.md { font-size: 1.5em; }
    &.lg { font-size: 2em; }
    &.xl { font-size: 2.5em; }
    &.xxl { font-size: 3em; }
}