//Multiselect
.multiselect__tags  {
    background: rgba(45, 52, 87, 0) !important;
    color: $white;
    border-radius: 0 !important;
    border: 0.08em solid #6F809B !important;
    overflow: hidden;
}

.multiselect__content-wrapper {
    background: #232945 !important;
    color: $white;
    border-radius: 0 !important;
}

.multiselect__input, .multiselect__single {
    background: rgba(39, 46, 78, 0) !important;
    color: $white;
    padding-top: 3px;
}
.multiselect__tags {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;   
}

.light-theme {
    .multiselect__tags  {
        background: rgb(188 193 201) !important;
        border: 0.08em solid #abb2bd !important;
        color: #313436 !important;
    }
    .multiselect__content-wrapper {
        background: #ccd1da !important;
        color: #313436 !important;
    }
    .multiselect__input, .multiselect__single {
        background: rgb(188 193 201) !important;
        color: #313436 !important;
    }
}
