//Multiselect
.multiselect__tags  {
    background: rgba(45, 52, 87, 0) !important;
    color: $white;
    border-radius: 0 !important;
    border: .08em solid #6F809B !important;
    overflow: hidden;
}

.multiselect--above .multiselect__tags {
    height: auto;
    padding: .375rem .75rem .15rem;
}

.multiselect--above .multiselect__tag {
    margin-bottom: 0;
    margin-top: 4px;
}

.multiselect__placeholder {
    margin-bottom: 0 !important;
}

.multiselect__content-wrapper {
    background: #232945 !important;
    color: $white;
    border-radius: 0 !important;
}

.multiselect__input, .multiselect__single {
    background: rgba(39, 46, 78, 0) !important;
    color: $white;
    padding-top: 3px;
}
.multiselect__tags {
    height: calc(1.5rem + .75rem + 2px);
    padding: .375rem .75rem;
}

.light-theme {
    .multiselect__tags  {
        background: #e8ebf0 !important;
        border: .08em solid #cbd1dc !important;
        color: #313436 !important;
    }
    .multiselect__content-wrapper {
        background: #d6d9e0 !important;
        color: #313436 !important;
    }
    .multiselect__input, .multiselect__single {
        background: #e8ebf0 !important;
        color: #313436 !important;
    }
}
