//Table
.e-table {
    th,td {
        padding: 0.75rem;
        outline: none !important;
    }
    td {
        color: $white;
        border-top: none !important;
        border-bottom: 0.1em solid $tableBorder !important;
        font-size: 1em;
    }
    thead {
        tr > th {
            border-top: none !important;
            border-bottom: none !important;
            background: $tableHeader;
            color: $white;
            font-family: $fontHeader;
            font-weight: 100;
            font-size: 0.9em;
            letter-spacing: 0.1em;
            vertical-align: middle;
        }
    }
}

.light-theme {
    .e-table {
        td {
            color: $contentLight;
            border-bottom-color: #8790a0 !important;
        }
        thead {
            tr > th {
                background: #a0a8b7;
                color: $contentLight;
            }
        }
    }
}