.e-text { color: $blue !important; }
.e-text-dark { color: $darkBlue !important; }
.e-text-warning { color: $orange !important; }
.e-text-success { color: $green !important; }
.e-text-info { color: $ocean !important; }
.e-text-danger { color: $red !important; }
.e-text-content { color: $content !important; }

.light-theme {
    .e-text-content { color: $contentLight !important; }
}