.topbar-outline {
    top: 1em;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 100;
    font-family: $fontHeader;
    font-size: .85em;
}


.topbar {
    color: $white;
    .topbar-widget {
        width: 19em;
        padding: .35em;
        margin: 0 1em;
        display: inline-block;
        border: 2px solid;
        background: rgba(38, 48, 64, 0.46);
        backdrop-filter: blur(6px);
        &.topbar-widget-purple  {
            border-color: $purple;
            .topbar-widget-icon {
                background: $purple; 
            }
            .topbar-body::after {
                border-top: .3em dashed $purple;
            }
        }
        &.topbar-widget-blue {
            border-color: $blue;
            .topbar-widget-icon {
                background: $blue; 
            }
            .topbar-body::after {
                border-top: .3em dashed $blue;
            }
        }
        &.topbar-widget-ocean {
            border-color: $ocean;
            .topbar-widget-icon {
                background: $ocean;
            }
            .topbar-body::after {
                border-top: .3em dashed $ocean;
            }
        }
        &.topbar-widget-aqua {
            border-color: $aqua;
            .topbar-widget-icon {
                background: $aqua; 
            }
            .topbar-body::after {
                border-top: .3em dashed $aqua;
            }
        }
        .topbar-widget-icon {
            float: left;
            height: 100%;
            padding: 1.85em 1em;
            border-radius: .65em;
            .phospor {
                font-size: 2em;
            }
        }
        .topbar-body {
            position: relative;
            width: 75%;
            float: right;
            padding: 1em;
            padding-bottom: 0;
            span {
                font-size: 1.85em;
            }
            
            &::after {
                position: absolute;
                bottom: .3em;
                right: .8em;
                width: 2em;
                height: 2px;
                content: "";
            }
        }
    }
}

.light-theme {
    .topbar {
        color: $white;
        .topbar-widget {
            &.topbar-widget-purple  {
                background: $purple;
                .topbar-widget-icon {
                    background: #8B6DE4; 
                }
                .topbar-body::after {
                    border-top: .3em dashed #8B6DE4;
                }
            }
            &.topbar-widget-blue {
                background: $blue;
                .topbar-widget-icon {
                    background: #6886F1; 
                }
                .topbar-body::after {
                    border-top: .3em dashed #6886F1;
                }
            }
            &.topbar-widget-ocean {
                background: $ocean;
                .topbar-widget-icon {
                    background: #78B1F3;
                }
                .topbar-body::after {
                    border-top: .3em dashed #78B1F3;
                }
            }
            &.topbar-widget-aqua {
                background: $aqua;
                .topbar-widget-icon {
                    background: #5bd8d2;
                }
                .topbar-body::after {
                    border-top: .3em dashed #5bd8d2;
                }
            }
        }
    }   
}